@import "tailwindcss";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9967 0.0013 106.4230);
  --foreground: oklch(0.3106 0.0245 30.6403);
  --card: oklch(0.9967 0.0013 106.4230);
  --card-foreground: oklch(0.3106 0.0245 30.6403);
  --popover: oklch(0.9967 0.0013 106.4230);
  --popover-foreground: oklch(0.3106 0.0245 30.6403);
  --primary: oklch(0.5098 0.1012 145.0103);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9813 0.0058 153.7770);
  --secondary-foreground: oklch(0.4111 0.0886 145.3963);
  --muted: oklch(0.9624 0.0062 75.4064);
  --muted-foreground: oklch(0.4635 0.0334 40.0533);
  --accent: oklch(0.9139 0.0281 147.0062);
  --accent-foreground: oklch(0.4111 0.0886 145.3963);
  --destructive: oklch(0.5410 0.1452 24.2575);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9026 0.0109 76.5936);
  --input: oklch(0.9026 0.0109 76.5936);
  --ring: oklch(0.5098 0.1012 145.0103);
  --chart-1: oklch(0.6576 0.1148 145.4432);
  --chart-2: oklch(0.5630 0.1088 145.3109);
  --chart-3: oklch(0.5098 0.1012 145.0103);
  --chart-4: oklch(0.4111 0.0886 145.3963);
  --chart-5: oklch(0.2344 0.0395 147.9244);
  --sidebar: oklch(0.9624 0.0062 75.4064);
  --sidebar-foreground: oklch(0.3106 0.0245 30.6403);
  --sidebar-primary: oklch(0.5098 0.1012 145.0103);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9139 0.0281 147.0062);
  --sidebar-accent-foreground: oklch(0.4111 0.0886 145.3963);
  --sidebar-border: oklch(0.9026 0.0109 76.5936);
  --sidebar-ring: oklch(0.5098 0.1012 145.0103);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.7rem;
  --shadow-2xs: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 1px 2px -1.5px hsl(0 0% 0% / 0.09);
  --shadow: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 1px 2px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-md: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 2px 4px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-lg: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 4px 6px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-xl: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 8px 10px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-2xl: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.22);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2689 0.0190 154.4394);
  --foreground: oklch(0.9681 0.0034 67.7829);
  --card: oklch(0.3373 0.0184 148.3026);
  --card-foreground: oklch(0.9681 0.0034 67.7829);
  --popover: oklch(0.3373 0.0184 148.3026);
  --popover-foreground: oklch(0.9681 0.0034 67.7829);
  --primary: oklch(0.6576 0.1148 145.4432);
  --primary-foreground: oklch(0.2344 0.0395 147.9244);
  --secondary: oklch(0.4017 0.0189 145.2131);
  --secondary-foreground: oklch(0.9205 0.0079 139.4417);
  --muted: oklch(0.3373 0.0184 148.3026);
  --muted-foreground: oklch(0.8804 0.0105 81.7942);
  --accent: oklch(0.5630 0.1088 145.3109);
  --accent-foreground: oklch(0.9681 0.0034 67.7829);
  --destructive: oklch(0.5410 0.1452 24.2575);
  --destructive-foreground: oklch(0.9681 0.0034 67.7829);
  --border: oklch(0.4017 0.0189 145.2131);
  --input: oklch(0.4017 0.0189 145.2131);
  --ring: oklch(0.6576 0.1148 145.4432);
  --chart-1: oklch(0.7674 0.0761 146.5035);
  --chart-2: oklch(0.7108 0.0952 146.2233);
  --chart-3: oklch(0.6576 0.1148 145.4432);
  --chart-4: oklch(0.6162 0.1141 145.3295);
  --chart-5: oklch(0.5630 0.1088 145.3109);
  --sidebar: oklch(0.2689 0.0190 154.4394);
  --sidebar-foreground: oklch(0.9681 0.0034 67.7829);
  --sidebar-primary: oklch(0.6576 0.1148 145.4432);
  --sidebar-primary-foreground: oklch(0.2344 0.0395 147.9244);
  --sidebar-accent: oklch(0.5630 0.1088 145.3109);
  --sidebar-accent-foreground: oklch(0.9681 0.0034 67.7829);
  --sidebar-border: oklch(0.4017 0.0189 145.2131);
  --sidebar-ring: oklch(0.6576 0.1148 145.4432);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.7rem;
  --shadow-2xs: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 1px 2px -1.5px hsl(0 0% 0% / 0.09);
  --shadow: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 1px 2px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-md: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 2px 4px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-lg: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 4px 6px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-xl: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.09), 0.5px 8px 10px -1.5px hsl(0 0% 0% / 0.09);
  --shadow-2xl: 0.5px 1.5px 5.5px -0.5px hsl(0 0% 0% / 0.22);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --animate-meteor: meteor 5s linear infinite;
  @keyframes meteor {
  0% {
    transform: rotate(var(--angle)) translateX(0);
    opacity: 1;
    }
  70% {
    opacity: 1;
    }
  100% {
    transform: rotate(var(--angle)) translateX(-500px);
    opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}